nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;
    /* ارتفاع را کمی بیشتر کردم تا با لوگو هماهنگ باشد */
    /* border-bottom: solid 1px #c5c5c5; این خط را حذف یا کامنت کنید */
}

nav .navs {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-left: 2rem;
    width: 30%;
    /* margin-top: 1.5rem; این خط دیگر لازم نیست */
}

nav .logo-container {
    display: flex;
    justify-content: end;
    width: 65%;
}

.navs a {
    transition: all 200ms ease;
}

.selected {
    color: #b74803;
}